@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins';
    font-weight: bold;
}

/* tombol */
.tombol-outline {
    background-color: #F2F6FF;
    border-radius: 20px;
    min-width: 100px;
    text-align: center;
    margin: 0px 10px 0px 10px;
}

.tombol-outline:hover {
    color: #234CAD;
    border: 1.5px solid #234CAD;
    box-sizing: border-box;
}

.tombol-outline-active {
    color: #234CAD;
    border: 1.5px solid #234CAD;
    border-radius: 20px;
    min-width: 100px;
    text-align: center;
    margin: 0px 10px 0px 10px;
}

.tombol-get {
    color: #234CAD;
    border: 1.9px solid #234CAD;
    padding: 15px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
}

.tombol-price {
    color: #234CAD;
    background-color: #FFFFFF;
    padding: 10px 50px 10px 50px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
}

.tombol-outline-price {
    color: #234CAD;
    border: 2px solid #234CAD;
    padding: 10px 50px 10px 50px;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
}

/* section a */
.navbar-nav a {
    color: #234CAD;
    font-weight: 500;
}

.jumbo-blue {
    background-color: #F2F6FF;
    padding: 70px;
    border-radius: 30px;
    margin-top: 20px;
    max-height: 80vh;
}

.head-title {
    color: #234CAD;
    line-height: 100px;
}

.head-title p {
    line-height: 25px;
    max-width: 300px;
}

.jumbo-image {
    width: 100%;
}

.jumbo-image img {
    max-width: 670px;
}

/* section b */
.based-info {
    margin-top: 50px;
}

.card-based-vertical {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    color: #234CAD;
}

.card-based-vertical h3 {
    font-weight: lighter;
}

.image-card {
    margin-right: 20px;
}

.about-one {
    line-height: 100px;
}

.about-one p {
    line-height: 25px;
}

.about-one-image {
    width: 60%;
}

.about-one-image img {
    width: 100%;
}

.about-one-body {
    max-width: 400px;
    color: #234CAD;
    margin-top: 100px;
}

.about-two {
    width: 100%;
    line-height: 100px;
    color: #234CAD;
}

.about-two p {
    max-width: 400px;
    margin: 0px auto;
    line-height: 25px;
}

.about-two img {
    width: 100%;
}