@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

:root {
    --primary-color:#234CAD;
    --second-color :#F2F6FF;

}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins';
    font-weight: bold;
}
.text-color{
    color: var(--primary-color);
}
.circle-style{
    background-color:#F2F6FF;
    border-radius: 50%;
    width: 50px;
    height: 50px; 
    align-content: center;
    display: flex;
    align-items: center;
}
.circle-style img{
    width: 12px;
    margin: 0px auto;

}
.tombol-blue{
    background-color: white;
    padding: 5px 30px 5px 30px;
    border-radius: 25px;
    text-decoration: none;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    margin-left: 10px;
    margin-right: 10px;
}
.tombol-grey{
    background-color: var(--second-color);
    padding: 5px 30px 5px 30px;
    border-radius: 25px;
    text-decoration: none;
    color: var(--primary-color);
}

.banner{
    background-color: var(--second-color);
    padding: 70px;
    border-radius: 30px;
    margin-top: 50px;
}

.tombol-blue-large{
    background-color: white;
    padding: 5px 30px 5px 30px;
    border-radius: 25px;
    text-decoration: none;
    color: var(--primary-color);
    border: 1.9px solid var(--primary-color);
    font-size: 1.5rem;
}
.box{
    background-color: white;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    align-items: center;
}
.inline-style{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.content-box{
    margin-left: 10px;
}
.content-box b{
    font-size: 0.7rem;
}
.content-box p{
    font-size: 0.5rem;
}
.box-secound {
    background-color: var(--second-color);
    padding: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
/*table divice*/

@media screen and (min-width: 768px) {
    .banner{
        padding: 100px;
        border-radius: 30px;
    }

    .r-position {
        display: flex;
        position: absolute;
        padding: 20px;
        right: 20px;
        top: 110px;
    }
}


/*Dekstop divice*/

@media screen and (min-width: 1280px) {
    
}